<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Templo Milenar - Consulta de Preços</title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="jumbotron" align="center" style="margin-top: 50px;">
            <h1>Consulta de Preços (em dólares)</h1>
            <form action="/card-price/query" class="form-inline" method="post">
                <div class="form-group">
                    <label for="printTag">Print Tag:</label>
                    <input type="text" class="form-control" id="printTag"
                           required="true" name="printTag" placeholder="Ex: DOCS-EN001" />
                </div>
                <button type="submit" class="btn btn-default">Consultar</button>
                <span th:if="${average != null}">
                    <p class="bg-info" style="margin-top: 20px;">
                        <span th:text="'US$:' + ${average}">
                        </span>
                    </p>
                </span>
            </form>
        </div>
    </div>
</body>
</html>