<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Templo Milenar</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background: rgb(243, 243, 243);">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Templo Milenar</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Início</a></li>
                    <li><a href="/cards/yugioh/price">Consulta de Preços</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="alert('Funcionalidade em desenvolvimento')">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <img src="/img/logo-full.png" class="img-responsive center-block" alt="Logo" width="200px;"
            style="margin-top: 50px;"/>
    </div>
</body>
</html>